@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  --breakpoint-xs: 420px;

  --font-sans: "Poppins", sans-serif;

  --color-bgprimary: #fb924e;
  --color-bgsecondary: #ffd3a8;
  --color-bgtertiary: #c3b091;
  --color-secondary: #009799;
}
@layer base {
  html {
    font-family: "Poppins", sans-serif;
    color: aliceblue;
  }
}

.header-scrolled {
  background-color: hsl(0, 0%, 12%, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
}

.scroll-container::-webkit-scrollbar {
  height: 8px;
}
.scroll-container::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}
.scroll-container::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}
.scroll-container::-webkit-scrollbar-thumb:hover {
  background: transparent;
}
